html { 
    background: url(../images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(0,0,0,0);
}

#new_booking_request {
    max-width: 600px;
    padding: 15px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 8px 8px;
    color: #FFF;
}

button {
    background-color: #168CCC;
    transition: background 0.6s ease-out;
    color: #FFF;
}

button:hover{
    background-color: #20A1E7;
    color: #FFF !IMPORTANT;
}

input[type=text]::-webkit-calendar-picker-indicator {
  display: none;
}