<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BOOK A RIDE</title>

    <!-- Bootstrap & CSS -->
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="myApp">
    
    <div class="container" ng-controller="bookingController">
      <form name="booking_request_form" id="new_booking_request" action="https://www.blacklane.com/en/booking_requests/transfers/new" accept-charset="UTF-8" method="get" novalidate>
        <h4> Book a one-way ride </h4>
        <input name="utf8" type="hidden" value="✓">
        <fieldset id="first-leg">
            <div class="row">
              
              <div class="form-group col-lg-6"  ng-class="{ 'has-error' : (reqPickup && !data.reqPickupInput) }">
                <input required ng-blur="reqPickup = true" ng-model="data.reqPickupInput" placeholder="From: address, airport, hotel, ..." type="text" class="form-control" name="booking_request[pickup]" list="addresses" />
                <datalist id="addresses" >
                  <option data-ng-repeat="item in addresses" value="{{item.name}}" />
                </datalist>
                <p ng-show="(reqPickup && !data.reqPickupInput)" class="help-block" ng-cloak>Please enter an address.</p>
              </div>
              
              <div class="form-group col-lg-6"  ng-class="{ 'has-error' : (reqDropoff && !data.reqDropoffInput) }">
                <input required ng-blur="reqDropoff = true" ng-model="data.reqDropoffInput" placeholder="To: address, airport, hotel, ..." type="text" class="form-control col-lg-1" name="booking_request[dropoff]" list="addresses" />
                <p ng-show="(reqDropoff && !data.reqDropoffInput)" class="help-block" ng-cloak>Please enter an address.</p>
              </div>
              
            </div>
            
            <div class="row">
              
              <div class="form-group col-lg-6" ng-class="{ 'has-error' : (reqAtDate && !data.reqAtDateInput) }">
                <input required ng-blur="reqAtDate = true" ng-model="data.reqAtDateInput" type="date" class="form-control" name="booking_request[at_date]">
                <p ng-show="(reqAtDate && !data.reqAtDateInput)" class="help-block" ng-cloak>Please enter a valid date.</p>
              </div>
              
              <div class="form-group col-lg-6" ng-class="{ 'has-error' : (reqAtTime && !data.reqAtTimeInput) }">
                <input required ng-blur="reqAtTime = true" ng-model="data.reqAtTimeInput" type="time" class="form-control" name="booking_request[at_time]">
                <p ng-show="(reqAtTime && !data.reqAtTimeInput)" class="help-block" ng-cloak>Please enter a valid time.</p>
              </div>
              
            </div>
        </fieldset>
        <h4> <input ng-model="config.isReturnRide" type="checkbox"> Book the return ride </h4>
        <fieldset id="second-leg" ng-if="config.isReturnRide" ng-cloak>
            <div class="row">
              
              <div class="form-group col-lg-6" ng-class="{ 'has-error' : (reqReturnPickup && !data.reqReturnPickupInput) }">
                <input required ng-blur="reqReturnPickup = true" ng-model="data.reqReturnPickupInput" placeholder="From: address, airport, hotel, ..." type="text" class="form-control" name="booking_request[return_pickup]" list="addresses" />
                <p ng-show="(reqReturnPickup && !data.reqReturnPickupInput)" class="help-block">Please enter an address.</p>
              </div>
              
              <div class="form-group col-lg-6"  ng-class="{ 'has-error' : (reqReturnDropoff && !data.reqReturnDropoffInput) }">
                <input required ng-blur="reqReturnDropoff = true" ng-model="data.reqReturnDropoffInput" placeholder="To: address, airport, hotel, ..." type="text" class="form-control col-lg-1" name="booking_request[return_dropoff]" list="addresses" />
                <p ng-show="(reqReturnDropoff && !data.reqReturnDropoffInput)" class="help-block">Please enter an address.</p>
              </div>
              
            </div>
            <div class="row">
              
              <div class="form-group col-lg-6" ng-class="{ 'has-error' : (reqReturnAtDate && !data.reqReturnAtDateInput) }">
                <input required ng-blur="reqReturnAtDate = true" ng-model="data.reqReturnAtDateInput" type="date" class="form-control" name="booking_request[return_at_date]">
                <p ng-show="(reqReturnAtDate && !data.reqReturnAtDateInput)" class="help-block">Please enter a valid date.</p>
              </div>
              
              <div class="form-group col-lg-6" ng-class="{ 'has-error' : (reqReturnAtTime && !data.reqReturnAtTimeInput) }">
                <input required ng-blur="reqReturnAtTime = true" ng-model="data.reqReturnAtTimeInput" type="time" class="form-control" name="booking_request[return_at_time]">
                <p ng-show="(reqReturnAtTime && !data.reqReturnAtTimeInput)" class="help-block">Please enter a valid time.</p>
              </div>
              
            </div>
        </fieldset>
        <button class="btn btn-lg btn-block" type="submit" ng-disabled="!booking_request_form.$valid" >BOOK A RIDE</button>
      </form>
    </div> <!-- /container -->
    
    <!-- Angular.js -->
    <script src="lib/jquery/dist/jquery.min.js"> </script>
    <script src="lib/angular/angular.min.js"> </script>
    <script src="js/app.js"> </script>
  </body>
</html>